<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>

    <!-- Dodanie stylu banera -->
    <style asp-src="~/UMPoC.NSMainSiteTheme/banner.css"></style>

    <resources type="Meta" />

    <style asp-name="bootstrap" version="4" at="Head"></style>
    <script asp-name="bootstrap" version="4" at="Foot"></script>

    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />    

</head>
<body dir="@Orchard.CultureDir()">

    @await RenderSectionAsync("Header", required: false)

    @await DisplayAsync(Model.Content)

    <footer>
        @await DisplayAsync(Model.Footer)
    </footer>

    <resources type="FootScript" />
</body>
</html>
